html, body {
    overscroll-behavior-y: contain;
    overflow: hidden;
}

main {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}
