:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
}

html, body {
    overscroll-behavior-y: contain;
    overflow: hidden;
}

body {
    margin: 0;
}

main {
    position: absolute;
    height: 100%;
    width: 100%;
}
